body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;

}
.footer{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-around;
    margin-top: 20px;
}
.board{
    height: 450px;
    width: 400px;
    display: grid;
    border: 1px solid;
}